@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Libre Baskerville", serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 161, 15);
}
.head {
  background-color: rgb(219, 161, 15);
  display: flex;
  justify-content: space-evenly;
  /* position: static; */
}
.left-side {
  display: flex;
  margin: 25px;
}
.logo {
  margin: 7px;
  padding: 3px 15px;
  border-radius: 10px;
}
.logo p {
  color: black;
  font-weight: 900;
  font-size: 1rem;
  border: 2px solid black;
  padding: 3px 15px;
  border-radius: 10px;
}
.logo p:hover {
  color: white;
  background-color: black;
  transition: 0.5s ease-in-out;
}

.center {
  margin-top: 30px;
  margin-right: 50px;
}
.right-side {
  display: flex;
}
.right-logo {
  margin-left: 10px;
  margin-top: 30px;
}
#user {
  font-size: 26px;
  margin-left: 5px;
}

.right-logo .right-p {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}
.right-logo .right-p:hover {
  color: white;
  background-color: black;
  transition: 0.5s ease-in-out;
}

.back h1 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  font-size: 15vw;
  font-weight: 900;
  background-position: center;
  background-image: url(image/market.jpg);
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
  background-size: cover;
}
.sec-1-a {
  text-decoration: none;
  color: black;
}
.sec-1 {
  width: 70%;
  margin: auto;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-1 h2 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  font-size: 5vw;
  font-family: "Lora", serif;
  word-spacing: 5px;
  text-transform: uppercase;
}
.sec-1 h2:hover {
  color: rgba(0, 0, 0, 0.3);
}
.sec-2 {
  display: grid;
  row-gap: 30px;
  grid-template-columns: auto auto auto auto;
  width: 70%;
  margin: auto;
}

.grid-class {
  margin: auto;
}
.main-img {
  width: 250px;
  height: 400px;
}
.image img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.image1 img:hover {
  background-color: black;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info-name {
  font-size: 22px;
}
.info-name .type {
  font-family: "Lora", serif;
  color: black;
  font-weight: 700;
}
/******************* footer section ********************** */

.main-footer {
  background-color: hsla(14, 87%, 52%, 1);
  height: 100%;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}
.footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end {
  margin: 50px;
  display: inline-block;
  /* background-color: rgb(81, 132, 164); */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.end span p {
  padding: 10px;
  font-size: 40px;
  font-weight: 500;
  color: white;
}
.center p {
  text-align: center;
}
.vertical p{
  writing-mode: vertical-lr;
  text-align: center;
}
.middle {
  width: 80px;
  margin: 25px;
  padding-left: 20px;
}
.middle p {
  font-weight: 800;
  font-size: 26px;
}
.list {
  display: flex;
  flex-direction: column;
  margin: 25px 70px;
}
.span-list {
  margin-bottom: 10px;
}
.span-list a {
  text-decoration: none;
  color: black;
}
.span-list a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}
.social {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-foot {
  font-size: 26px;
}
.social-foot a {
  color: black;
  font-weight: 800;
  padding: 10px;
}
.social-foot .fa-whatsapp {
  color: green;
  padding: 3px;
}
.social-foot .fa-x-twitter {
  color: black;
  padding: 3px;
}
.social-foot .fa-facebook {
  color: blue;
  padding: 3px;
}
.social-foot .fa-instagram {
  color: rebeccapurple;
  padding: 3px;
}
.moving-text {
  margin-top: 40px;
}
.moving {
  font-size: 25px;
  font-weight: 900;
}
.moving .fa-circle {
  color: #fff;
}
.moving .fa-forward {
  color: #fff;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 50vh;
  }
  .head {
    flex-direction: column;
  }
  .left-side {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }
  .center {
    /* width: 80%; */
    margin-top: 5px;
    margin: auto;
  }
  .right-side {
    display: flex;
    justify-content: center;
  }
  .sec-1 {
    height: 50vh;
  }
  .sec-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }
  .main-img {
    width: 80%;
    height: 50vh;
  }
  .image img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  .main-footer{
    height: 90vh;
    width: 100%;
  }
  .footer{
    display: flex;
    flex-direction: column;
    width: 70%;
    display: inline-block;
  }
  .end{
    margin: auto;

  }
  .end span p{
    text-align: center;
  }
  .vertical p{
    writing-mode: vertical-lr;
    text-align: center;
    margin-left: 5px;
  }
  .middle{
    width: 30px;
    margin: 10px;
    padding: 0;
  }
  .middle p{
    font-size: 20;
  }
  .list{
    margin: 15px 30px;
  }
  .span-list{
    font-size: 20px;
  }
  .social{
    width:95%;
    display: inline-block;
    margin-left: 30px;
  }
  .social-foot{
    font-size: 18px;
  }
  .social-foot a {
    color: black;
    font-weight: 700;
    padding: 6px;
  }
  .social-foot .fa-whatsapp {
    color: green;
    padding: 1.5px;
  }
  .social-foot .fa-x-twitter {
    color: black;
    padding: 1.5px;
  }
  .social-foot .fa-facebook {
    color:blue;
    padding:1.5px;
  }
  .social-foot .fa-instagram {
    color: rebeccapurple;
    padding: 1.5px;
  }
  
}
